In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data = data.fillna(value = 0)

In [ ]:
credit_card_data['Class'].value_counts()

0.0    3984
1.0       3
Name: Class, dtype: int64

This dataset is highly unbalanced

0 --> normal transaction
1--> fraudulent transaction

In [ ]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(3984, 31)
(3, 31)

In [ ]:
legit.Amount.describe()

count    3984.000000
mean       66.719618
std       197.653474
min         0.000000
25%         5.990000
50%        18.870000
75%        60.027500
max      7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [ ]:
#compare the values of both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2758.910894,-0.206050,0.253177,0.854119,0.216357,-0.008456,0.265305,-0.049634,-0.016875,0.546428,...,0.059276,-0.081058,-0.231316,-0.018081,0.021354,0.093744,-0.023002,0.006825,0.005592,66.719618
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Under-Sampling

build a sample dataset containing similar distribution of normal transaction and fraudulent transaction

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating two dataframes

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0      3
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2885.613821,-0.241276,0.307271,0.935476,0.316249,0.008259,0.287595,-0.007476,0.018918,0.498584,...,0.143074,-0.117837,-0.206411,-0.055116,-0.018857,0.083984,-0.03474,-0.003289,0.003597,68.957215
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.17005,0.015979,-0.086847,256.310000

In [ ]:
X = new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

Training and testing data split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
X_train_prediction = model.predict(X_train)
accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy: ', accuracy)

Accuracy:  1.0